
.batch-img {
    position: absolute;
    right: -15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-47%);
    max-width: 220px;
    z-index: 999;
}

.check-header {
    background:url(../images/header-bg.jpeg) no-repeat;     background-size: cover;}
.check-header{position: relative;}
.progress-line .part div:last-child {
    font-size: 17px;}
.check-header{overflow:hidden;}

.img-addtn{position: absolute;left:0; top:0;}
.img-addtn {
    position: absolute;
    left: -75px;
    top: 0;
}
.img-addtn img{max-height: 125px;}
    @media screen and (min-width: 320px) and (max-width:767px) {
        .check-header.h_blue::before,.check-header::after{display: none;}
        .img-addtn {
    position: absolute;
    left: 0px;
    top: 0;}
    a.logo-brand {
    display: inline-block;
    max-width: 200px;
    margin: 8px 0px 10px;
}
.check-header {
    overflow: hidden;
    height: 70px;
}
.img-addtn img {
    max-height: 75px;
}
.img-addtn {
    position: absolute;
    right: 0px;
    top: 0;
    left: auto;
}
.check-header {
   background: url(../images/m_header_bg.png) no-repeat !important;
    background-size: cover !important;
    background-position: bottom right !important;
}
    }

  @media screen and (min-width: 768px) and (max-width:991px){
.check-header.h_blue::before {
    left: calc(50% + 70px);
    z-index: 99;width: 400px;}
    .batch-img {
    position: absolute;
    right: -20px;  }  

}

@media screen and (min-width: 992px) and (max-width: 1180px){
.check-header.h_blue::before {
    left: calc(50% + 111px);
    z-index: 99;
    width: 400px;
}
 .batch-img {
    position: absolute;
    right: -20px;  }  

    }


    .form-btm .form-holder label {
    font-size: 15px;
    line-height: 20px;
}






.limit-offer-sec{background:#cc0000; color: #fff; font-size: 13px; }
.limit-offer-sec p{font-weight: 700;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    padding:3px;
    letter-spacing: 2px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
.limit-offer-sec{ font-size: 12px; }
    }
@media screen and (min-width: 767px) and (max-width: 1064px) {
.media-ipad{width:80%;}
}

.headingExpdt h4, p{margin-bottom: 5px;}
.exp-sec{overflow:hidden;}