body {
  font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

a,
a:hover,
button,
button:hover {
    outline: none;
}

img {
    max-width: 100%;
}

ul li {
    list-style: none;
}
.checkout-bg{background:url(../images/bg-checkout.jpeg) repeat-x;    /*background-size: cover;*/}
.check-header{background:url(../images/header-check.jpeg) #fff;background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;box-shadow: 0px 3px 10px 5px rgb(34 31 32 / 11%);
}

.progress-line {
    position: relative;
    padding: 10px 10px;
}
.progress-line .bar {
    background: #004f7e;
}
.progress-line .part {
    float: left;
    width: 33.3%;
    text-align: center;
    position: relative;
    padding-top: 15px;
}

.progress-line .part div:first-child {
    background: #f2692c;
}

.progress-line .part div:last-child {
    font-size: 20px;color:#2b388f;font-weight: 900;    margin: 10px 0px 5px;font-family: 'Nunito', sans-serif;
}

.progress-line .part:last-child div:first-child {background:#f2692c;}

.progress-line .part div:first-child {
	font-size: 19px;
	font-family: 'Nunito', sans-serif;
border: 5px solid #e4e4e4;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    line-height: 29px;
    text-align: center;
    display: inline-block;
    color: white;
    margin-top: 10px;
    font-weight: 900;
}

.progress-line .part:after{width: 100%;
    height: 4px;
    background-color: #003501;
    position: absolute;
    right: 100px;
    top: 40px;
    content: '';
    z-index: 100;
    border: 2px solid #003501;
}
.progress-line .part:nth-child(1):after{display: none;}
.progress-line .part div{z-index: 200;position: relative;}
a.logo-brand {
    display: inline-block;
    max-width: 200px;
    margin: 16px 0px 10px;
}
.batch-img {
    position: absolute;
    right: 50px;
    top: 24px;
}

.blue-eye{
    background: #2d339a;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    padding: 23px 0px 23px;
    text-align: center;}
.blue-eye p{ color:#fff; font-size: 21px; font-weight: 500; margin: 0;}
.blue-eye p img{margin-right: 15px;}
section.checkout-sec {
    padding: 70px 0px 50px;
}
.check-right {
    background: #fff;
    padding-bottom: 15px;
}
.appove-text span{color:#75b010; font-weight: 800;}
.appove-text{    color: #333333;
    font-size: 20px;    margin-bottom: 6px;
    padding: 15px 15px 0px;}
    .appove-text b{display: table;}


.soldout-risk .bar {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #aaa;
    padding: 2px;
    width: 75px;
}

.soldout-risk .bar .level {
    background: red;
    width: 12px;
    height: 12px;
    -webkit-animation-name: blink;
    animation-name: blink;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}    
@-webkit-keyframes blink {
0% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes blink {
0% {opacity: 0;}
100% {opacity: 1;}
}


.risk {
    padding: 0px 15px;
      margin-bottom: 15px;
}
.soldout-risk {
    font-size: 17px;
    font-weight: 700;
    color: #333333;
        border-bottom: 1px solid #000;
    padding-bottom: 8px;

}

.soldout-risk strong.red {
    color: #ff0000;
    font-weight: 700;
}
.soldout-risk span {
    text-transform: uppercase;
    margin-left: 100px;
}
.product1, .product2, .product3 {
    cursor: pointer;
}
.product {
 margin: 0 15px;
}

.package-item {
    background: #FFFFFF;
    /* border-left: 2px solid #2d339a;
    border-right: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2; */
    border: 3px solid #ccc;
    margin-bottom: 10px;
}

.package-item__header {
    overflow: hidden;
    margin: 0 -1px;}

    .title-block {
    width: 60%;
    float: left;
    background: #2d339a;
    height: 32px;
    line-height: 27px;
}

.title-block__main {
    font-weight: bold;
    font-size: 22px;
   padding: 3px 10px;
    display: inline-block;

    text-transform: uppercase;
    color: #fff;}
    .shipping-block {
    float: left;
    width: 40%;
    background: #454545;
    line-height: 32px;
    position: relative;
    height: 32px;
}
.shipping-block span:before {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 7px;
    width: 51px;
    height: 23px;
    background: url(../images/car.png) no-repeat center;
    background-size: contain;
}
.shipping-block span {
    position: relative;
    z-index: 3;
    color: #fff;
    font-weight: 700;
   font-style: italic;
      line-height: 35px;
    display: inline-block;
    padding-left: 62px;
    font-size: 16px;
    position: absolute;
    right: 50px;
}
.shipping-block:before {
     content: "";
    display: block;
    clear: both;
    position: absolute;
    left: -7px;
    top: -4px;
    width: 6px;
    height: 40px;
    background: #fff;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    z-index: 17;
}
.shipping-block:after{ content: "";
    display: block;
    clear: both;
    position: absolute;
    left: -3px;
    background: #454545;
    bottom: -5px;
    width: 12px;
    height: 29px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);}

    .product.active .package-item__content {
    background: #faf5e3;
}
.package-item__status {
    float: left;
    width: 10%;
    border-right: 1px solid #acacac;
  height: 100%
}
.package-item__status span {
    position: relative;
   height: 205px;
    display: table;
    width: 70px;
}
.product .package-item__status span:before{
	content: "";
	display: block;
    background: url(../images/blank-tick.png) no-repeat center;
    position: absolute;
 
      top: 45%;
 transform: translate(-50%);
    width: 34px;
    height: 30px;
    background-size: contain;
    left: 50%; }
.product.active .package-item__status span:before{
	content: "";
	display: block;
    background: url(../images/tick.png) no-repeat center;
    position: absolute;
 
      top: 50%;
  transform: translate(-50%);
       width: 34px;
    height: 30px;
    background-size: contain; }
 .product .package-item__content {
    background: #fff;}
    .product.active .package-item__content {
    background: #faf5e3;}

    .package-images {
    float: left;
    position: relative;
    width: 59%;
       padding: 9px 12px 0px;
}

.package-images__item {
    float: left;
    width: 50%;
    max-height: 190px;
    position: relative;
}
.free-btle {
    background: #f2692c;
    display: table;
    border-radius: 10px;
    width: 110px;
    text-align: center;
    float: right;
   margin: 10px 20px 10px 0px;
    padding: 10px 12px;
}
.free-btle h3{text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 0px;}


    .package-images__item:nth-child(2):before {
     content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 23px;
    background: url(../images/plus.png) no-repeat center;
    background-size: contain;
    border-radius: 50%;
    z-index: 3;
    right: -30px;
    top: 50%;
    margin-top: -15px;
}
.package-info {
    float: left;
    width: 31%;
    padding:14px 4px 10px;
}
.package__save{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffcd33+0,ffa202+100 */
background: #ffcd33; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ffcd33 0%, #ffa202 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #ffcd33 0%,#ffa202 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #ffcd33 0%,#ffa202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd33', endColorstr='#ffa202',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
width:67px;
height: 67px;
border-radius: 50%;    text-align: center;}
.package__save_title{font-size: 19px;
    color: #000;
    font-weight: 700;
    line-height: 20px;
    display: block;
    padding-top: 15px;}
.package__save_item{font-size: 16px;
    color: #000;
    font-weight: 700;
    display: block;
    line-height: 17px;}
.save-price h4 {
    color: #e50001;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    line-height: 21px;
        text-transform: uppercase
}
.price_info{text-align: center;border-top: 1px solid #bbb5b5;
    padding: 5px 0px;}
.price_info p{font-size: 11px; text-transform: uppercase; font-weight: bold; margin-bottom: 0px;}

.price_info p.special{font-weight: normal; font-size: 9px;}
.price_info h4{font-size: 35px;font-weight: bold;    line-height: 30px;margin-bottom: 0;}
.price_info h4 span{font-size:21px;}
.package-info__btn{
    background: #aaa;
    border: 1px solid #bbb5b5;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
.active .package-info__btn{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffcd33+0,ffbc20+73,ffa202+100 */ 
background: #ffcd33; /* Old browsers */
background: -moz-linear-gradient(top,  #ffcd33 0%, #ffbc20 73%, #ffa202 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffcd33 0%,#ffbc20 73%,#ffa202 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffcd33 0%,#ffbc20 73%,#ffa202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd33', endColorstr='#ffa202',GradientType=0 ); border: 1px solid #ffa202; /* IE6-9 */

}
 .product.active   .package-info__btn{ /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffcd33+0,ffbc20+41,ffa202+100 */
background: #ffcd33; /* Old browsers */
background: -moz-linear-gradient(top,  #ffcd33 0%, #ffbc20 41%, #ffa202 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffcd33 0%,#ffbc20 41%,#ffa202 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffcd33 0%,#ffbc20 41%,#ffa202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd33', endColorstr='#ffa202',GradientType=0 ); /* IE6-9 */
   color: #000;}

   .product3 span.title-block__main {
    text-align: center;
    display: block;
}

.product3 .package-images__item{    width: 80%;
    margin: 0 auto;
    text-align: center;}
.product3 .package-images__item:nth-child(2):before{display: none;}

.title-div-form{    
background: #000000; 
 text-align: center;padding: 20px 0px;}
.title-div-form h3{color:#fff; font-size: 57px;font-weight: 700;       margin-bottom: 8px;}
.title-div-form h6{color:#c7d93c; font-size: 27px;font-weight: 700; margin-top: 0px;}
.product-option-box {
    float: left;
    width: 62%;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
}
.form-box {
    float: right;
    width: 36%;
   }
.final-form{background: #fff;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
}
    .card-img1{text-align: center;    padding: 10px 0px;}
    .card-img1 p{color:#404040; font-size: 19px; margin-bottom: 5px;  font-family: 'Product Sans'; font-weight: bold;}
    .card-img1 img{     padding: 5px 0; width: 100px;}
    .chk-radio p{color: #333333;
    font-size: 17px;
    text-align: center;
    padding: 5px 50px;
    font-weight: 500;
    line-height: 21px;}
    .chk-radio label {
    color: #404040;
    font-size:18px;
     font-family: 'Product Sans'; 
      font-weight: normal;
      text-transform: uppercase;
}
.chk-radio .radio input[type=radio]+.radio-label:before {
 content: "";
    background: #ffffff;
    border-radius: 100%;
    border: 1px solid #000;
    display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.chk-radio input[type=radio]:checked+.radio-label:before {
    background-color: #000;
    box-shadow: inset 0 0 0 4px #fff;
}
.form-btm .radio input[type=radio] {
    position: absolute;
    opacity: 0;
}
.form-btm .form-holder label {
    display: inline-block;
    width: 32%;
    text-align: left;
    padding-right: 1%;
    font-size: 17px;
    text-transform: inherit;float: left;
    line-height: 48px;
      text-align: left;
    padding-left: 16px;
    font-weight: 500;
}

.form-btm .form-holder{clear: both;margin-bottom: 8px;    display: inline-flex;
    width: 100%;
    align-items: center;}
.form-btm .form-holder select{width:65%;
border:1px solid #979797; min-height: 34px;
/* background: url(../images/select-arrow.png) no-repeat;
-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none; */
background-position: 96%;
border-radius: 4px;
}
.form-btm .form-holder .form-control{width:64%;
border:1px solid #979797; min-height: 34px;border-radius: 4px; }
.form-btm .form-holder .sel-half{width: 31%;
    float: left;}
    .form-btm .sel-half.mar-r10{margin-right:10px;}

 .cvv-text{
    display: table;
    padding-top: 11px;
    font-size: 17px;
    font-weight: 500;
    color: #333333;
} 

.order-btn{background: transparent;
   
    font-size: 26px;
    width: 92%;
    padding: 18px 0px;
    display: table;
    border: 0px;
    margin: 5px auto;
   }  

    .secure-text{background: #f2f2f2;
    color: #454545;
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 700;
    padding: 10px 0px; }


    .warrenty-img {
    background: #e4eff1;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px 20px 10px;
}
.warrenty-img img{margin: -51px auto 9px;
    display: table;}
    .warrenty-img p{font-size: 14px; line-height: 20px; color: #454545;}


    .all-logo {
    text-align: center;
    margin: 50px 0px 10px;
    border-bottom: 3px solid #d2d2d2;
    padding: 0px 0px 21px;
}

    .all-logo img{}
    .no-thanks-text{display: table;
    	color: #919191;
    text-align: center;
    font-size:18px;
    text-decoration: underline;
    font-weight: 500;
      margin: 40px auto 0px;}
  footer{padding-bottom: 30px;}
    footer p{color:#232323; font-size: 12px;text-align: center; line-height: 27px; margin: 0;}
    footer p a{color:#232323;}
    .only-mob{display:none;}

    /*checkout 2*/
    .appove-text.f-17{font-size: 17px;}
    .product-checkout{padding:10px 20px;}
    .product-info-check2 h3{color: #5dab1d;
    font-size: 32px;
    font-weight: 700;}
      .product-info-check2 h6{color:#333333; font-size:17px;    font-weight: 700;margin: 10px 0px 10px;}
         .product-info-check2 ul {margin: 40px 0px; padding: 0;}
         .chk-radio {
    margin-bottom: 21px;
}
      .product-info-check2 ul li{font-size: 17px;
    font-style: italic;
    color: #333333;
    font-weight: 500;}
    .price-div table td{       vertical-align: middle; padding:15px 0px;
    border: 0px;
    font-size: 17px;
    font-weight: 500;}
        .price-div table td span{color:#5dab1d; font-size: 25px; text-transform: uppercase;    font-weight: 700;}
           .price-div table td:last-child{text-align: right;}
            .price-div table tr:nth-child(1) td{border-bottom: 1px solid #000;padding:10px 0px 0px;}

   p.blue-price {
    background: #5dab1d;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 15px;
    margin:20px 0px ;
}    
  p.blue-price span{float: right; display: inline-block;}   
  .text1{color:#333333; font-size: 20px;    line-height: 22px;
    font-weight: 500;} 
    .confirm-btn{background: url(../images/check2-btn.png) no-repeat;   
       min-height: 112px;
    background-size: cover;
    padding: 31px 0px 10px;
    width: 100%;
    margin-bottom: 30px;} 
       .confirm-btn h6{font-size: 23px; font-weight: 800; text-align: center;text-transform: uppercase; color:#fff;margin-bottom: 0px;}
         .confirm-btn p{font-size: 16px; font-weight: 500; text-align: center; color: #fff}
 .tick-list{margin:0;     padding: 0px 15px;}
 .tick-list li {
    display: inline-table;
    width: 48%;
    color: #1a1a1a;
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.tick-list span {
    margin-left: 20px;
}
.check2-btl img{margin-top:15px;}
.red-bg{position: relative; margin-top: 5px}   
.red-bg p{    font-size: 26px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 2px;
    text-align: center;
    margin: 0px 9px;}    
.order-btn:hover{opacity: 0.7; cursor: pointer;background: transparent !important;}
form{padding: 0 !important;}

.active .fast-package{
    border: 3px solid #ffd700; 
}


@media screen and (min-width: 320px) and (max-width: 767px){
.check-header {
   background: url(../images/m_header_bg.png) no-repeat !important;
    background-size: cover !important;
    background-position: bottom right !important;
}
}

.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
    background: #ffcd33; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffcd33 0%, #ffbc20 73%, #ffa202 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffcd33 0%,#ffbc20 73%,#ffa202 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffcd33 0%,#ffbc20 73%,#ffa202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #000;
	}
@keyframes pulse {
0% {transform: scale(0.9);opacity: 0.9;}
50% {transform: scale(1);opacity: 1;}
100% {transform: scale(0.9);opacity: 0.9;}
}

@-webkit-keyframes pulse {
0% {-webkit-transform: scale(0.95);opacity: 0.7;}
50% {-webkit-transform: scale(1);opacity: 1;}
100% {-webkit-transform: scale(0.95);opacity: 0.7;}
}