@charset "utf-8";
/* CSS Document */
#object1, #object2, #object3, #object4, #object5, #object6, #object7, #object8 {
    visibility: hidden;
}
/*------------------- */
/* CSS Document */
body {
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:0;
	text-align:center;
}
/*
START UTILITY
*/
div, ul, h1, h2, h3, h5,li, p, img, form, input, textarea {
	margin:0;
	padding:0;
}

a {
    outline: none;
	color:#333;
	text-decoration:underline;
}

a:hover {
    outline: none;
	color:#000;
	text-decoration:none;
}

img {
	border:none;
}

li {
	list-style:none;
}


.clearall {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
}
@font-face {
	font-family: 'Conv_ROCK';
	src: url('../fonts/ROCK.eot');
	src: local('☺'), url('../fonts/ROCK.woff') format('woff'), url('../fonts/ROCK.ttf') format('truetype'), url('../fonts/ROCK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_ROCKB';
	src: url('../fonts/ROCKB.eot');
	src: local('☺'), url('../fonts/ROCKB.woff') format('woff'), url('../fonts/ROCKB.ttf') format('truetype'), url('../fonts/ROCKB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
END UTILITY*/
/*
==============================================
pulse
==============================================
*/

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

/*
==============================================
slideUp
==============================================
*/
/*
==============================================
slideInUp
==============================================
*/

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  
  animation-duration: .5s;	
  -webkit-animation-duration: .5s;

  animation-timing-function: ease;	
  -webkit-animation-timing-function: ease;	

  visibility: visible !important;			
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
