button.order-btn {
    background: url(../images/submit.jpeg) no-repeat;
    max-width: 270px;
    width: 95%;
    height: 80px;
    /* overflow: hidden; */
    /* text-indent: -999px; */
    /* border: none; */
    /* outline: none; */
    background-size: 100%;
    -webkit-appearance: button;
    cursor: pointer;
    position: relative;
    z-index: 99999;
}

.order-btn:hover {
    opacity: 1 !important;
    /* cursor: pointer; */
    background: transparent !important;
    background: url(../images/submit.jpeg) no-repeat !important;
  
    box-sizing: border-box;
    background-size: 100% !important;
}
 .order-btn {
          animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
     } 
     @keyframes pulse {
        0% {
                   transform: scale(0.9);
        }
        50% {
             transform: scale(1);
        }
        100% {
                transform: scale(0.9);
        }
        }
@media screen and (min-width: 320px) and (max-width: 575px) {
.batch-img{display: none;}
.progress-line{display: none;}
.product-option-box,.form-box{width:100%;}
.only-mob{display:block;}
section.checkout-sec {
    padding: 30px 0px 40px;
}
.progress-mob{margin-bottom: 25px;text-align: center;}
.blue-eye{    padding:13px 0px 13px;}
.blue-eye p {
    color: #fff;
    font-size: 11px;
    font-weight: 500;

    margin: 0;
}
.blue-eye p img {
    margin-right: 6px;
}
.appove-text {
    color: #333333;
    font-size: 12px;
    margin-bottom: 6px;
    padding: 10px 10px 0px;
}
.soldout-risk {
    font-size: 10px;}
    .soldout-risk .bar{width:55px;}
    .risk {
    padding: 0px 10px;}
    .soldout-risk span{margin-left:10px;}
    .logo-brand img{height: 50px;}
   
  
    .title-block__main {
    font-weight: bold;
    font-size: 12px;}
    .shipping-block span:before{      height: 14px;
    width: 30px;}
    .shipping-block span{    line-height: 27px;
    display: inline-block;
    padding-left: 32px;
    font-size: 10px;
    position: absolute;
        margin-top: 1px;

    right: 4px;}
    .package-item__status span{width: auto;
    height: auto;
    min-height: 134px;}
    .product .package-item__status span:before{width: 24px;
    margin-left: 14px;

    height: 20px;}
    .product.active .package-item__status span:before{width: 24px;
    height: 20px;
    margin-left: 27px;
}
.free-btle h3{font-size: 11px;}
.package-images__item:first-child:before{    width: 13px;
    height: 13px;}
    .package-images__item{display: none;}
    .package__save_title{     font-size: 11px;
    padding-top: 9px;
    line-height: 12px;}
    .package__save_item{    font-size: 10px;}
    .save-price h4{font-size: 11px;
    font-weight: 700;margin-left: 15px;
    text-align: center;
    line-height: 14px;}
    .package__save{    width: 47px;
    height: 47px;}
.price_info h4 {
    font-size: 18px;line-height: 20px;}
    .price_info h4 span {
    font-size: 10px;
}
.package-info__btn{font-size: 10px;}
.package-images{    width: 54%;
    padding: 9px 2px 0px;}
    .package-info {
    float: left;
    width: 35%;
        padding: 4px 0px 5px;}
    .price_info p {
    font-size: 10px;}
    .save-price .pl-0{padding-left:15px;}
    .price_info{padding: 2px 0px;}
    .mob-img {
    height: 103px;
}
 .mob-img  img{height: 110px;
    object-fit: contain; padding-left:10px;}
 .title-block {
    width: 56%;}
 .shipping-block {
    float: left;
    width: 44%;}
    .form-box{margin-top:20px;}
    .title-div-form h3{font-size: 45px;}
    .title-div-form h6{font-size: 18px;}
    .card-img1 p{font-size: 12px;}
    .chk-radio p{font-size: 14px;}
    .form-btm .form-holder label{font-size: 14px; line-height: 48px;}
    .chk-radio label {
    color: #404040;
    font-size: 15px;}
    .form-btm .form-holder{margin-top:20px; display: block;}
    .form-holder .error{ width: 100%; display: block; text-align: left;}
    .cvv-text{font-size: 14px;}
    .secure-text{font-size: 14px;}
    .order-btn{font-size: 18px;}
    .all-logo img {
    max-width: 250px;
}
.no-thanks-text{    font-size: 16px;}
footer p {
    color: #232323;
    font-size: 13px;
    text-align: center;
    line-height: 23px;
    margin: 0;
}
.mob-text{margin-top:20px;}
.product {
    margin: 0 10px;
}
.form-btm .form-holder .form-control{font-size: 14px;}




/*checkout2*/
.product-info-check2 h3{font-size: 18px;}
.product-info-check2 h6 {
    color: #333333;
    font-size: 10px;
    margin:5px 0px;}
    .product-info-check2 ul {
    margin: 10px 0px;}
    .product-info-check2 ul li {
    font-size: 12px;}
    .price-div table td{font-size: 10px;}
    .price-div table td {
    vertical-align: middle;
    padding: 5px 0px;}
    .price-div table td span {
    font-size: 14px;}
    p.blue-price {
    background: #5dab1d;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px; margin: 0;}
    .text1 {

    font-size: 12px;}
    .price-div table{margin-bottom: 5px;}
    .text1 {
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
}
.confirm-btn{display: none;}
.tick-list li{font-size: 7px;}
.tick-list span {
    margin-left: 2px;
}
.tick-list img{width:14px;}
.red-bg p{margin: 0px auto;
        font-size: 20px;
    text-align: center;
    width: 100%;
bottom: 10px;}
    .red-bg img{width:100%;}
        section.checkout-sec{overflow:hidden;}
        .save-price.row {
    margin-bottom: 5px;
}
.package-info__btn {
    font-size: 10px;
    padding: 5px;}
    .product3 .save-price h4{margin-top:5px;}
    .checkout-bg{background:#fbfbfb;}
}
 @media screen and (min-width: 320px) and (max-width: 480px) {  
.package-item__status span{min-height: 133px;
 }
 .product.active .package-item__status span:before{margin-left:14px;}
}



@media screen and (min-width: 320px) and (max-width: 374px) {

.blue-eye p,.appove-text{font-size: 10px;}
.soldout-risk {
    font-size: 8px;
}
.save-price h4 {
    font-size: 9px;
    font-weight: 700;
    margin-left: 23px;
    text-align: center;
    line-height: 11px;
}
.product .package-item__status span:before ,.product.active .package-item__status span:before{
    width: 20px;}
    .chk-radio p{padding: 5px 30px;}
    .chk-radio .radio input[type=radio]+.radio-label:before{width: 16px; height: 16px;}
    .chk-radio label {
    font-size: 12px;
}
.form-btm .form-holder label {
    font-size: 11px;
}
.product-info-check2 h3{font-size: 16px;}
.product-info-check2 h6 {
    color: #333333;
    font-size: 10px;
    margin:5px 0px;}
    .product-info-check2 ul {
    margin: 10px 0px;}
    .product-info-check2 ul li {
    font-size: 11px;}
    .price-div table td{font-size: 10px;}
    .price-div table td {
    vertical-align: middle;
    padding: 5px 0px;}
    .price-div table td span {
    font-size: 14px;}
    p.blue-price {
    background: #5dab1d;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px; margin: 0;}
    .text1 {

    font-size: 12px;}
    .price-div table{margin-bottom: 5px;}
    .text1 {
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
}
.confirm-btn{display: none;}
}



   @media screen and (min-width: 576px) and (max-width: 767px) {
        .checkout-bg{background:#fbfbfb;}
    .product {
    margin: 0 10px;
}
.batch-img{display: none;}
.progress-line{display: none;}
.product-option-box,.form-box{width:100%;}
.only-mob{display:block;}
section.checkout-sec {
    padding: 30px 0px 40px;
}
.progress-mob{margin-bottom: 25px;text-align: center;}
.blue-eye{    padding:13px 0px 13px;}
.blue-eye p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;

    margin: 0;
}
.blue-eye p img {
    margin-right: 6px;
}
.appove-text {
    color: #333333;
    font-size: 16px;
    margin-bottom: 6px;
    padding: 10px 10px 0px;
}
.soldout-risk {
    font-size: 13px;}
    .soldout-risk .bar{width:55px;}
    .risk {
    padding: 0px 10px;}
    .soldout-risk span{margin-left:50px;}
    .logo-brand img{height: 50px;}
   
    .check-header.h_gray{
         background: url(../images/up-mob-bg_gray.png) #fff;
         background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    }
    .title-block__main {
    font-weight: bold;
    font-size: 12px;}
    .shipping-block span:before{      height: 14px;
    width: 30px;}
    .shipping-block span{    line-height: 27px;
    display: inline-block;
    padding-left: 32px;
    font-size: 12px;
    position: absolute;
        margin-top: 1px;

    right: 24px;}
    .package-item__status span{width: auto;
    height: auto;
    min-height: 155px;}
    .product .package-item__status span:before{width: 24px;
    margin-left: 14px;

    height: 20px;}
    .product.active .package-item__status span:before{width: 24px;
    height: 20px;
    margin-left: 14px;
}
.free-btle h3{font-size: 11px;}
.package-images__item:first-child:before{    width: 13px;
    height: 13px;}
    .package-images__item{display: none;}
   

    .save-price h4{font-size: 16px;
    font-weight: 700;
    margin-left: auto;
    text-align: center;
    line-height: 17px;}
  
.price_info h4 {
    font-size: 18px;line-height: 20px;}
    .price_info h4 span {
    font-size: 10px;
}
.package-info__btn{font-size: 14px;}
.package-images{    width: 54%;
    padding: 9px 2px 0px;}
    .package-info {
    float: left;
    width: 35%;
        padding: 4px 0px 5px;}
    .price_info p {
    font-size: 10px;}
    .save-price .pl-0{padding-left:15px;}
    .price_info{padding: 2px 0px;}
    .mob-img {
    height: 133px;
}
 .mob-img  img{max-height: 130px;}
 .title-block {
    width: 56%;}
 .shipping-block {
    float: left;
    width: 44%;}
    .form-box{margin-top:20px;}
    .title-div-form h3{font-size: 45px;}
    .title-div-form h6{font-size: 18px;}
    .card-img1 p{font-size: 12px;}
    .chk-radio p{font-size: 14px;}
   
    .chk-radio label {
    color: #404040;
    font-size: 15px;}
    .form-btm .form-holder{margin-top:20px;}
    .cvv-text{font-size: 14px;}
    .secure-text{font-size: 14px;}
    .order-btn{font-size: 18px;}
    .all-logo img {
    max-width: 250px;
}
.no-thanks-text{    font-size: 16px;}
footer p {
    color: #232323;
    font-size: 14px;
    text-align: center;
    line-height: 23px;
    margin: 0;
}
.mob-text{margin-top:20px;}




.product-info-check2 h6 {
    color: #333333;
    font-size: 14px;
    margin:10px 0px;}
    .product-info-check2 ul {
    margin: 20px 0px;}
    .product-info-check2 ul li {
    font-size: 12px;}
    .price-div table td{font-size: 10px;}
    .price-div table td {
    vertical-align: middle;
    padding: 5px 0px;}
   
    .price-div table{margin-bottom: 5px;}

.confirm-btn{display: none;}
.tick-list li{font-size: 11px;}
.tick-list span {
    margin-left: 5px;
}
.tick-list img{width:20px;}
.red-bg p{margin: 0px auto;
        font-size: 20px;
    text-align: center;
    width: 100%;
bottom: 10px;}
    .red-bg img{width:100%;}
        section.checkout-sec{overflow:hidden;}

                .save-price.row {
    margin-bottom: 5px;
}
.package-info__btn {
    font-size: 13px;
    padding: 5px;}
    .product3 .save-price h4{margin-top:9px;}
}
   @media screen and (min-width: 767px) and (max-width: 1180px) {
.progress-line .part div:last-child {
 font-size: 11px;
    margin-top: 5px;
    margin-bottom: 4px;
}
.progress-line .part div:first-child {
    font-size: 13px;}
.logo-brand img{max-width: 100px;}
.batch-img{max-width: 100px;}
.progress-line .part:after{right:41px;    top: 26px;}
.progress-line .part{padding:0px;}
.progress-line{padding: 0px;}
.blue-eye p {
    font-size: 14px;}
    .appove-text {
    font-size: 15px;}
    .soldout-risk {
    font-size: 12px}
    .soldout-risk span{margin-left:20px;}
    .title-block__main{    font-size: 12px;}

    .shipping-block span{right: 15px;font-size: 10px;}
    .mob-img {display: block;height: 160px;}
    .package-images__item{display: none;}
    .package-item__status span{width:50px;}
    .product .package-item__status span:before,.product.active .package-item__status span:before{width: 23px;
    height: 23px;}
    .save-price h4{font-size: 14px;
    line-height: 15px;}
    .package__save{    width: 47px;
    height: 47px;}
    .package__save_title {
    font-size: 14px;padding-top: 5px;}
    .package__save_item {
    font-size: 11px; line-height: 14px;}
    .package-images{    width: 54%;}
    .package-info {
    float: left;
    width: 36%;}
    .price_info h4 {
    font-size: 24px;}
    .package-info__btn{ font-size: 18px;}
    .package-item__status span {
    position: relative;
    height: 171px;}
       .mob-img img{ height: 150px;
    object-fit: contain;}
       .package-images{padding: 9px 2px 0px;}
       .title-div-form h3{    font-size: 30px;}
       .title-div-form h6{font-size: 16px;}
       .chk-radio p {
    color: #333333;
    font-size: 13px;
    text-align: center;
    padding: 5px 10px;
    font-weight: 500;
    line-height: 17px;
}
.chk-radio label {
    color: #404040;
    font-size: 12px;}
    .chk-radio .radio input[type=radio]+.radio-label:before{width:16px; height: 16px;}
    .form-btm .form-holder label{    font-size: 11px;width: 38%;}
    .form-btm .form-holder .form-control {
    width: 55%;    min-height: 34px;    font-size: 11px;}
    .form-btm .form-holder .sel-half {
    width: 28%;}
    .cvv-text{font-size: 11px;}
    .order-btn{font-size: 17px;}
    .secure-text{font-size: 11px;}
    .warrenty-img p {
    font-size: 11px;
    line-height: 14px;}
    .no-thanks-text{font-size: 16px;}
    footer p{font-size: 16px;}

    .red-bg p{margin: 0px auto;
        font-size: 13px;
    text-align: center;
    width: 100%;
bottom: 10px;}
    .red-bg img{width:100%;}
    .confirm-btn{display: none;}
  .img-mob {
    display: block;
}
.product-info-check2 ul {
    margin: 20px 0px;
    padding: 0;
}
.text1 {
    color: #333333;
    font-size: 15px;
    line-height: 16px;}
    .tick-list li{font-size: 10px;}
    .tick-list li img{width:18px;}
    .tick-list span {
    margin-left: 7px;
}
.price-div table td{font-size: 13px}
.price-div table td span {
    font-size: 17px;}
    section.checkout-sec{overflow:hidden;}
   }

      @media screen and (min-width: 993px) and (max-width: 1180px) {
.progress-line .part:after {
    right: 65px;
    top: 26px;
}
      }

    @media screen and (min-width:1181px) and (max-width: 1199px) {

  .progress-line .part:after {
    right: 65px;
    /*top: 45px;*/
        top: 26px;
}
}


   @media screen and (min-width: 767px) and (max-width: 1180px) {
.check-header{max-height: 70px; background-position: top right;}
.img-addtn img {
    max-height: 75px;
}
.img-addtn {
    position: absolute;
    left: -54px;}
    .product-info-check2 ul li {
    font-size: 14px;}
    }

@media screen and (min-width: 992px) and (max-width: 1130px) {
    .img-addtn{left: -80px;}
}

     @media screen and (min-width: 768px) and (max-width: 991px) {

        .form-btm .form-holder .sel-half {
            width: 25%;
        }
        .form-btm .form-holder select {
            background-size: 8px;
        }



     }



     @media screen and (min-width: 707px) and (max-width: 766px){
        .img-addtn{right: 35px;}

     }

     .year, .month, .cvv-field{ width: 33%; float: left;}
     .year select, .month select{ width: 95% !important;}
     .cvv-field input{ width: 95% !important;}


     @media only screen and (max-width: 479px){
         .form-btm .form-holder label{
             line-height: 35px;
         }
         .form-btm .form-holder{
             margin-top: 10px;
         }
     }


select.form-control {
    background: url(../images/select.svg) no-repeat 94% center #fff;
    -webkit-appearance: none;
}
     
    
    