body {
    overflow-x: hidden;
        box-sizing: border-box;
}
.new_uppp {
    padding: 0px 0 0 47px;
}
.mobile_top_logo {
    display: none;
}
.for_mob {
    display: none;
}
.best-offer {
    background: #fef036;
}
p.price-bx.left_right_class {
    padding-right: 76px;
}
.for_desk {
    display: block;
}
.up-rgt-txt1 {
    float: none;
        padding: 0px 0 0 0px;
            width: 90%;

}
.up-rgt-txt2 {
    float: none;
        padding: 0px 0 0 0px;
            width: 88%;
              margin: 10px 0px 5px;

}
.up-rgt-txt3 {
    float: none;
     padding: 0px 0 0 0px;
   width: 88%;
  margin: 10px 0px 5px;

}
.cust_cl{
        padding: 6px 0 0 139px;
    color: #00aeef;
}
.cust-rt_2 {
    margin: 0 0 0 -29px;
}
.price_wraps {
        display: flex;
    flex-direction: column;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}
p.price-bx2 {
    float: none;
    font-size: 32px;
    font-family: 'Conv_ROCKB';
        padding: 3px 0px 4px 0;
    display: block;
    min-height: 30px;
        min-width: 120px;
}
.prc-box-mid.mdspc2 {
    text-align: center;
    width: 100%;
    padding: 3px 0 9px 0;
    margin: 0px 0px 0 0;
    max-width: 120px;
    float: none;
}
.prc-box-mid.mdspc2 p.sv-txt1 {
    float: none;
    padding: 3px 0px 0px;
}
.pack-type {
       float: none;
    margin-left: 0;
    padding-top: 5px;
    color: #000;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    font-family: 'Conv_ROCK';
    max-width: 100%;
    width: 100%;
}

.coupon-container {
    text-align: center;
    border: 5px dashed black;
    margin: 25px auto;
    background: #eff9fc;
    position: relative;
    max-width: 83%;
}
.scissors {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.bottle {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;  
    height: 215px;
    width: 237px;
    margin: 21px 0 21px 5px;
    display: inline-block; 
}
.bottle-new-up {
    background-image: url(../images/upsell_image001.png);
}
.bottle-new-up2{
    background-image: url(../images/upsell_image002.png);
}
.bottle-new-up3{
    background-image: url(../images/upsell_image003.png);
}
.bottle-new-up4{
    background-image: url(../images/upsell_image004.png);
}
.bottle-info {
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
}
.bottle-info p.line-2 {
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    color: red;
}
.bottle-info p.line-3 {
    margin: 0;
}.bottle-info p.line-4 {
    margin-top: 10px;
}
.bottle-info p.line-5 {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}
.bottle-info p.line-4 strong {
    color: #ffa425;
}
.clearfix::after {
    display: table;
    content: " ";
    clear: both;
}
button.submit {
    background: #f2491a;
    max-width: 375px;
    width: 84%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 2;
    padding: 11px;
    color: #fff;
    cursor: pointer;
    border: 0;
    position: relative;
}
button.submit::before {
    display: inline-block;
    width: 98%;
    content: " ";
    position: absolute;
    opacity: .3;
    background: white;
    height: 32px;
    left: 50%;
    transform: translateX(-50%);
    top: 2px;
}
.hide-desk{
    display: none;
}
.center{
    text-align: center;
}
.text-center{
    text-align: center;
}
.clearfix{
    clear: both;
    display: block;
}
.pt-15{ padding-top: 15px;}
.pb-15{ padding-bottom: 15px;}
@media (max-width: 991px) {
    p.trialhdrtxt {
        display:none;
}
.prc-box-mid.mdspc2 p.sv-txt1 {
    float: none;
    padding: 3px 0px 0px;
    width: 100%;
}
.cust_cl{
        padding: 6px 0 0 0px;
    color: #00aeef;
}
.cust-rt_2 {
    margin: 0 0 0 0px;
}
.up-btl1 {
    margin: 23px 0 0 0;
    padding: 5px;
    box-sizing: border-box;
}
.btn_wrap_img {
    position: relative;
    display: inline-block;
    float: none;
    max-width: 100%;
    text-align: center;
    margin: 10px auto 0px;
}
.up-btn {
    margin: 0 auto;
    float: none;
}
.up-rgt.new_wrap_rgt {
    float: none;
    width: 100%;
    box-sizing: border-box;
        margin-top: 15px;
}
.mobile_top_logo {
    display: block;
}
.price_wraps {
    display: flex;
    flex-direction: column;
    width: 100%;
}
div#trialmid {
    width: 100%;
    margin: 0px 0 0 0;
    box-sizing: border-box;
}
.pack-type {
    color: #000;
    width: 100%;

}
div#container {
    height: auto;
    width: 100%;
    background: #ffffff;
}
.prod {
    width: 40%;
        box-sizing: border-box;
}
.prod_gt_wrap {
    width: 60%;
    padding-top: 20px;
        box-sizing: border-box;
}
.up-rgt-txt3 {
    font-size: 17px;
    line-height: 22px;
    color: #000;
    font-family: 'Conv_ROCKB';
    float: none;
    padding: 0px 0 0 1px;
    margin: 0 0 0 0px;
        width: 100%;
}
.up-rgt-txt1 {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    font-family: 'Conv_ROCKB';
    float: none;
    padding: 10px 0 0 0px;
    letter-spacing: 0px;
    width:100%;
}
.prc-box-mid {
    width: 100%;
    float: none;
    border: 1px solid #000;
    margin: 5px 0px 0 0;
    display: flex;
}
p.sv-txt1 {
    float: none;
    width: 50%;
}
p.sv-txt2 {
    width: 50%;
}
.prc-box-mid.mdspc {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
}
.up-list li {
   background: url(../images/uptick.png) no-repeat left top 6px;
    font-size: 14px;
    line-height: 12px;
    color: #000;
    text-align: left;
    font-family: 'Conv_ROCKB';
    padding: 6px 0 9px 22px;
    min-height: 16px;
    max-width: 200px;
    margin: 0 auto;
}
.line {
    margin: 17px 0 0 0px;
    float: none;
    max-width: 200px;
}
.up-rgt-txt2 {
    font-size: 16px;
    line-height: 20px;
    color: #76a535;
    font-family: 'Conv_ROCKB';
    float: none;
    padding: 0px 0 0 0px;
    letter-spacing: 0px;
    width: 100%;
    text-align: center;
}
.up-rgt-txt4 {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-family: 'Conv_ROCKB';
    float: none;
    padding: 15px 0 0 10px;
    margin-top: 0px;
    display: inline-block;
}
.mobile_top_logo img {
    width: 100%;
}
.up-left {
    float: none;
    display: flex;
    width: 100%;
    box-sizing: border-box;
        align-items: center;
}
.up-txt1 {
    font-size: 18px;
    line-height: 22px;
}
.up-txt2 {
    font-size: 16px;
    padding: 0px 8px;
}
.for_mob {
    display: block;
}
.for_desk {
    display: none;
}
.btn_wrap_img input[type="submit"] {
    position: absolute;
    top: 8px;
    width: 100%;
    max-width: 100%;
    left: 0;
    transform: translate(0);
    opacity: 0;
}
.radio-btn, .radio-btn-common {
    float: left;
    zoom: 80%;
    margin-left: 7px;
    margin-top: 1px;
}
.radio-btn, .radio-btn-common {
    float: left;
    zoom: normal;
    margin-left: 5px;
    margin-top: 6px;
}
.price-bx {
    float: none;
    font-size: 18px;
    font-family: 'Conv_ROCKB';
    padding: 0 0px 0 0;
}
.left_right_class {
padding: 0 0px 0 0;
}
.up-hurry {
    margin: 10px 0 0 0px;
    max-width: 95%;
}

.prc-txt2 {
    float: none;
    font-size: 15px;
    font-family: 'Conv_ROCK';
    padding: 0 0px 0 0;
    line-height: 16px;
}
.rgt-radio-sec {
    width: 100%;
    border: 1px solid #858585;
    padding: 0 0 13px 0;
    box-sizing: border-box;
}
div#btl5 {
    background: #fef036;
}
.ftrtxt {
    padding: 0 10px;
    margin: 0;
}
.up-list {
    margin: 10px 0 0 0px;
}
.total_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.new_uppp {
    padding: 0px 0 0 0px;
}
.up-list2 li {
    background: url(../images/uptick2.png) no-repeat left top 6px;
}
p.up-rgt-txt1.for_mob.for_center {
    margin-top: 10px;
    position: relative;
    width: 100%;
    top: 12px;
    font-size: 30px;
    padding-bottom: 0px;
}
p.up-rgt-txt1.for_mob.for_center2 {
    margin-top: 10px;
    position: relative;
    width: 100%;
    top: 12px;
    font-size: 24px;
    padding-bottom: 0px;
}
}
@media (max-width: 667px) {
p.up-rgt-txt1.for_mob.for_center2 {
    margin-top: 10px;
    position: relative;
    width: 100%;
    top: 12px;
    font-size: 21px;
    padding-bottom: 0px;
}
p.up-rgt-txt1.for_mob.for_center {
    margin-top: 10px;
    position: relative;
    width: 100%;
    top: 12px;
    font-size: 24px;
    padding-bottom: 0px;
}
.hide-desk{
    display: block;
}
.hide-mob-sec{
    display: none;
}
}
@media (max-width: 374px) {
.pack-type span {
    color: #000;
    font-size: 30px;
    font-family: 'Conv_ROCKB';
}
p.up-rgt-txt1.for_mob.for_center {
    margin-top: 10px;
    position: relative;
    width: 100%;
    top: 12px;
    font-size: 24px;
    padding-bottom: 0px;
}
p.up-rgt-txt1.for_mob.for_center2 {
    margin-top: 10px;
    position: relative;
    width: 100%;
    top: 12px;
    font-size: 18px;
    padding-bottom: 0px;
}
.prc-box-mid {
    width: 99%;
    float: none;
    border: 1px solid #000;
    margin: 2px 3px 0 0;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}
.sv-txt1 {
    font-size: 14px;
    color: #000;
    font-family: 'Conv_ROCK';
    padding: 6px 0 0 6px;
    float: none;
        width: 50%;
}
.sv-txt2 {
    font-family: 'Conv_ROCK';
    font-size: 10px;
    color: #fff;
    background: #000;
    float: none;
    padding: 0px 11px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.up-btn {
      margin: 8px 0px 0px;
    float: none;
}
.sv-txt2 {
    font-family: 'Conv_ROCK';
    font-size: 10px;
    color: #fff;
    background: #000;
    float: none;
    padding: 0px 11px;
    height: 50px;
    box-sizing: border-box;
    width: 50%;
}

.pack-type {
    font-size: 22px;
}
.prc-txt2 {
    font-size: 13px;
}
.omit_right {
    float: right;
    width: 47%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.up-rgt-txt1 {
    font-size: 22px;
    line-height: 26px;
    color: #000;
    font-family: 'Conv_ROCKB';
    float: none;
    padding: 0px 0 0 0px;
    letter-spacing: -1px;
    text-align: center;
}
.up-rgt-txt2 {
    font-size: 24px;
    line-height: 24px;
    color: #76a535;
    font-family: 'Conv_ROCKB';
    float: left;
    padding: 6px 0 0 0px;
    letter-spacing: -1px;
}
.up-list2 li {
    background: url(../images/uptick2.png) no-repeat left top 6px;
}
}

@media only screen and (max-width: 580px){
    .up-top-header{
        padding: 6px;
        box-sizing: border-box;
    }
    .up-txt1{
        font-size: 17px;
    }
    p.up-rgt-txt1.for_mob.for_center {
    margin-top: 6px;
    position: relative;
    width: 100%;
    top: 8px;
    font-size: 23px;
    padding-bottom: 0px;
}
.up-btl1 {
    margin: 7px 0 0 0;
    padding: 5px;
    box-sizing: border-box;
}
.up-rgt-txt2 {
    font-size: 20px;
    line-height: 22px;
}
.up-rgt-txt3 {
    font-size: 16px;
    line-height: 18px;
}
.up-list li {
    padding: 6px 0 7px 22px;
}
.pack-details {
    padding: 6px 0 10px;
}
.pack-type span {
    color: #000;
    font-size: 20px;
    font-family: 'Conv_ROCKB';
    padding-bottom: 0px;
        padding-top: 4px;
}
p.price-bx2 {
    float: none;
    font-size: 22px;
    font-family: 'Conv_ROCKB';
    padding: 3px 0px 4px 0;
    display: block;
    min-height: 25px;
    min-width: 120px;
}
.up-rgt.new_wrap_rgt {
    margin-top: 0px;
}
.rgt-radio-sec {
    margin: 13px 0 0 0;
}
.up-left {
    align-items: flex-start;
}
}

 