@charset "utf-8";
/* CSS Document */
body {
	background: #fff url(../images/trialbg.jpeg) left top repeat-x;
}
/* start main content */
div#container {
	height: auto;
	width: 100%;
	background: url(../images/up-1-nv.png) center top no-repeat;
}
.content {
	width: 1004px;
	margin: 0 auto;
}
.trialhdrtxt {
	font-family: Georgia, sans-serif, "Times New Roman";
	font-size: 20px;
	color: #fff;
	text-align: left;
	line-height: 24px;
	padding: 50px 0 0 320px;
}
.trialhdrtxt span {
	color: #f8db20;
}
div#trialmid {
	display: table;
	width: 1004px;
	margin: 14px 0 0 0;
	background: #fff;
	padding: 0 0 33px 0;
	border: 1px solid #cbcbcb;
	-webkit-box-shadow: -1px 7px 22px -1px rgba(0,0,0,0.45);
	-moz-box-shadow: -1px 7px 22px -1px rgba(0,0,0,0.45);
	box-shadow: -1px 7px 22px -1px rgba(0,0,0,0.45);
}
.up-top-header {
	float: left;
	width: 100%;
	padding: 10px 0;
	background: #ed1c24;
	text-align: center;
}
.up-txt1 {
	font-size: 30px;
    line-height: 33px;
    color: #fff;
    font-family: 'Conv_ROCKB';
    text-transform: uppercase;
	
}
.up-txt2 {
	font-size: 22px;
	line-height: 22px;
	color: #fff;
	font-family: 'Conv_ROCK';
}
.up-left {
	float: left;
	width: 45%;
	text-align: center;
}
.up-btl1 {
	margin: 23px 0 0 0;
}
.up-list {
	margin: 22px 0 0 89px;
}
.up-list li {
	background: url(../images/uptick.png) no-repeat left top 2px;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	text-align: left;
	font-family: 'Conv_ROCKB';
	padding: 0 0 9px 33px;
}
.up-list {
    margin: 22px 0 0 39px;
}
.up-list2 li {
	background: url(../images/uptick2.png) no-repeat left top 2px;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	text-align: left;
	font-family: 'Conv_ROCKB';
	padding: 0 0 9px 33px;
}
.up-list3 li {
	background: url(../images/uptick3.png) no-repeat left top 2px;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	text-align: left;
	font-family: 'Conv_ROCKB';
	padding: 0 0 9px 33px;
}
.up-list4 li {
	background: url(../images/uptick4.png) no-repeat left top 2px;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	text-align: left;
	font-family: 'Conv_ROCKB';
	padding: 0 0 9px 33px;
}
.up-hurry {
	margin: 29px 0 0 27px;
}
.up-rgt {
	float: right;
	width: 54%;
	margin: 35px 0 0 0;
}
.up-rgt-txt1 {
	font-size: 29px;
	line-height: 29px;
	color: #000;
	font-family: 'Conv_ROCKB';
	float: left;
	padding: 0px 0 0 11px;
	letter-spacing: -1px;
}
.up-rgt-txt2 {
	font-size: 35px;
	line-height: 35px;
	color: #76a535;
	font-family: 'Conv_ROCKB';
	float: left;
	padding: 6px 0 0 91px;
	letter-spacing: -1px;
}
.up-rgt-txt3 {
	font-size: 22px;
	line-height: 22px;
	color: #000;
	font-family: 'Conv_ROCKB';
	float: left;
	padding: 9px 0 0 1px;
	margin: 0 0 0 -29px;
}
.line {
	margin: 17px 0 0 98px;
	float: left;
}
.up-rgt-txt4 {
	font-size: 20px;
	line-height: 20px;
	color: #000;
	font-family: 'Conv_ROCKB';
	float: left;
	padding: 12px 0 0 38px;
}
.rgt-radio-sec {
	width: 88%;
	border: 1px solid #858585;
	float: left;
	margin: 30px 0 0 0;
	position: relative;
	padding: 0 0 13px 0;
}
.up-best {
	position: absolute;
    top: -13px;
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
}
.best-offer {
	float: left;
	width: 100%;
	
	box-sizing: border-box;
	padding: 16px 0 14px 0;
}
.pack-details .active{
    background: #fef036;
}
.radio-btn, .radio-btn-common {
	float: left;
	zoom: 177%;
	margin-left: 12px;
	margin-top: 1px;
}
.pack-type {
	float: left;
	margin-left: 16px;
	color: #000;
	font-size: 17px;
	line-height: 22px;
	text-align: left;
	font-family: 'Conv_ROCK';
}
.best-offer label, .pack-details label {
	cursor: pointer;
}
.pack-type strong {
	font-weight: 700;
}
.pack-type span {
    color: #000;
    font-size: 36px;
    font-family: 'Conv_ROCKB';
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.price-bx {
	float: right;
	font-size: 20px;
	font-family: 'Conv_ROCKB';
	padding: 0 56px 0 0;
}
.prc-txt2 {
	float: right;
	font-size: 16px;
	font-family: 'Conv_ROCK';
	padding: 0 40px 0 0;
	line-height: 16px;
}
.prc-box-mid {
	width: 33%;
	float: right;
	border: 1px solid #000;
	margin: 2px 20px 0 0;
}
.sv-txt1 {
	font-size: 20px;
	color: #000;
	font-family: 'Conv_ROCK';
	padding: 6px 0 0 9px;
	float: left;
}
.sv-txt2 {
	font-family: 'Conv_ROCK';
	font-size: 10px;
	color: #fff;
	background: #000;
	float: right;
	padding: 2px 11px;
}
.sv-txt2 span {
	font-family: 'Conv_ROCKB';
	font-size: 16px;
}
.pack-details {
	float: left;
	width: 100%;
	padding: 15px 0 10px;
	border-top: 1px solid #e2e2e2;
}
.up-btn {
	margin: 26px 0 0 50px;
	float: left;
}
.mdspc {
	text-align: center;
	width: 18%;
	padding: 3px 0 8px 0;
	margin: -14px 61px 0 0;
}
.up-no {
	margin: 40px 0 0px 0;
}
/*
Footer*/
div#footer {
	padding: 30px 0;
	margin-top: 50px;
	border-top: 1px solid #999;
}
.ftrtxt {
	font-family: 'Conv_ROCK';
	font-size: 14px;
	color: #3b3b3b;
	text-align: center;
	line-height: 18px;
	padding: 0 120px;
	margin: 0;
}
.ftrtxt2 a, .ftrtxt a:hover {
	text-decoration: none;
	color: #3b3b3b;
}
.ftrtxt2 {
	font-family: 'Conv_ROCK';
	font-size: 14px;
	color: #3b3b3b;
	text-align: center;
	line-height: 20px;
	padding: 0 10px;
	margin: 0;
}
.btn_wrap_img {
    position: relative;
    display: block;
    float: left;
    max-width: 485px;
}

.btn_wrap_img input[type="submit"] {
position: absolute;
    top: 25px;
    width: 100%;
    max-width: 100%;
    left: 50%;
    transform: translate(-44%,9%);
    opacity: 0;
}

@media (max-width: 1024px) {
    .content {
    max-width: 990px;
    width: 100%;
}
}